#homepage {
  color: #fff;
  background: #2d6187;
  height: 100vh;
}
#homepage h1 {
  font-weight: 700;
  font-style: italic;
}
.homepage__btn {
  padding: 17px 40px;
  color: #fff;
  background: #28abb9;
  border-radius: 23px;
  box-shadow: 1px 3px 20px 3px rgba(155, 155, 155, 0.3);
}
.homepage__btn:hover {
  color: #effad3;
}
.homepage__instruction {
  margin-top: 30px;
}
.homepage__instruction li {
  font-size: 15px;
  margin: 10px 0;
}
